<div>
  <div class="column-1">
    <div class="grid grid-cols-2 bg-cyan-900 py-5">
      <div class="grid grid-cols-1">
        <p class="font-roboto text-xl float-left text-white px-10">
          A|S Services
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 mr-1 text-white pr-10">
        <p class="text-lg text-right" (click)="scrollInternaNavigation('#services')">Services |</p>
        <p class="text-lg text-right" (click)="scrollInternaNavigation('#partners')"> Partners |</p>
        <p class="text-lg text-right" (click)="scrollInternaNavigation('#contact_us')"> Contact Us</p>
      </div>
    </div>
  </div>

  <div class=" grid grid-cols-1 md:grid-cols-2">
    <div class="float-left bg-cyan-400 px-10 py-10">
      <p class="text-white">GET YOUR APP OR WEBSITE DEVELOPED. </p>
      <P class="font-roboto text-5xl font-bold mt-3 text-white">
        The leader in providing IT services in field.
      </P>
      <p class="mt-3 text-white">
        Stand out online with a professional website, online store, or portfolio. With Squarespace, you can turn any idea into a reality.
      </p>
      <button class="px-2 py-2 bg-white mt-3">
        GET STARTED
      </button>
    </div>
    <div class="float-right px-10 py-10 bg-cyan-900">
      <P class="font-roboto text-3xl font-bold text-white">
        Get your Websites and Apps developed with us.
      </P>
      <p class="text-sm font-semibold text-white text-center my-7 md:text-right">
        We will full fulfill all of your tech requirements with our tech field experts. Get your Website,
        Landing Page, e-commerce or full webapp developed, along with Mobile Apps for both Android
        and iOS.
      </p>
      <P class="font-roboto text-3xl text-white text-center md:text-right">
        Hire us for your best technology solutions.
      </P>
    </div>
  </div>

  <div class="columns-1 py-7">
    <p class="text-cyan-900 font-bold text-3xl text-center"> Testimonials</p>
  </div>

  <div class="grid grid-cols-1 justify-items-center mt-8">
    <div class="flex justify-center">
      <img class="rounded-full skew-y-2" src="../assets/images/profile-pic1.png" height="75px" width="75px"/>
      <p class="w-2/3 pl-10"> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries.
      </p>
    </div>
  </div>


  <div class="grid grid-cols-1 justify-items-center mt-8">
    <div class="flex justify-center">
      <img class="rounded-full" src="../assets/images/profile-pic2.jpg" height="75px" width="75px"/>
      <p class="w-2/3 pl-10"> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries.
      </p>
    </div>
  </div>


  <div class="grid grid-cols-1 justify-items-center mt-8">
    <div class="flex justify-center">
      <img class="rounded-full" src="../assets/images/profile-pic3.jpg" height="75px" width="75px"/>
      <p class="w-2/3 pl-10"> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 bg-cyan-800 pt-10 mt-8">
    <h3 class="text-3xl font-extrabold text-center text-white font-serif tracking-widest" id="services">
      Our Services
    </h3>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-10 px-8 mb-8 py-5 bg-cyan-800">
    <div class="border-slate-700 rounded-md float-left bg-white my-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-600 hover:text-zinc-50 duration-300">
      <img src="../assets/images/web-dev.jpg" height="200" width="350"/>
      <div class="px-3 py-3">
        <p class="font-bold text-lg antialiased"> Website Development </p>
        <p class=""> They deliver with excellence. Have worked with the team on several projects, and have
          always got best timely deliveries. </p>
        <button class="px-2 py-2 bg-slate-600 text-white mt-3" (click)="scrollInternaNavigation('#web_dev_desc')">
          Learn More
      </button>
      </div>
    </div>

    <div class="border-slate-700 rounded-md float-left bg-white my-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-600 hover:text-zinc-50 duration-300">
      <img src="../assets/images/app-dev.jpg" height="200" width="350"/>
      <div class="px-3 py-3">
        <p class="font-bold text-lg antialiased"> Mobile App Development </p>
        <p class=""> They deliver with excellence. Have worked with the team on several projects, and have
          always got best timely deliveries. </p>
        <button class="px-2 py-2 bg-slate-600 text-white mt-3" (click)="scrollInternaNavigation('#app_dev_desc')">
          Learn More
        </button>
      </div>
    </div>

    <div class="border-slate-700 rounded-md float-left bg-white my-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-600 hover:text-zinc-50 duration-300">
      <img src="../assets/images/seo-image.jpg" height="200" width="350"/>
      <div class="px-3 py-3">
        <p class="font-bold text-lg antialiased"> Search Engine Optimisation</p>
        <p class=""> They deliver with excellence. Have worked with the team on several projects, and have
          always got best timely deliveries. </p>
        <button class="px-2 py-2 bg-slate-600 text-white mt-3" (click)="scrollInternaNavigation('#seo_desc')">
          Learn More
        </button>
      </div>
    </div>

    <div class="border-slate-700 rounded-md float-left bg-white my-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-600 hover:text-zinc-50 duration-300">
      <img src="../assets/images/digi-marketing.jpg" height="200" width="350"/>
      <div class="px-4 py-3">
        <p class="font-bold text-lg antialiased"> Digital Marketing </p>
        <p class=""> They deliver with excellence. Have worked with the team on several projects, and have
          always got best timely deliveries. </p>
        <button class="px-2 py-2 bg-slate-600 text-white mt-3" (click)="scrollInternaNavigation('#digital_marketing_desc')">
          Learn More
        </button>
      </div>
    </div>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 px-8 py-8">
    <div class="border-white lg:border-r-2 border-r-zinc-500/50 mx-6 flex items-center">
      <div>
        <p class="text-4xl font-bold font-sans italic text-zinc-700 py-4" id="web_dev_desc"> Web Development </p>
        <p class="text-lg font-roboto italic pr-3 items-cente"> Responsive Web App Development using latest technologies and JS libraries. </p>
      </div>
    </div>
    <div class="my-5 sm:h-auto">
      <p> Responsive design is a way of developing web properties so that the device they are used on determines the way
        that the site will be displayed. It’s normally done using the principle “mobile first” – i.e.
        the experience is defined on mobile platforms such as smartphones and tablets and then
        scaled up to larger screens.</p>
      <p>
        The need for this approach is being driven by the understanding that more and more people are accessing the mobile
        web and in many markets now – smartphone access to the net is much greater than traditional PC
        access. Mobile devices offer different capabilities to desktop/laptop environments too, such
        as touchscreens, GPS data, accelerometers, etc.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 px-8 py-8">
    <div class="border-white  lg:border-r-2 border-r-zinc-500/50 mx-6 flex items-center">
      <div>
        <p class="text-4xl font-bold font-sans italic text-zinc-700" id="app_dev_desc">  Mobile App Development </p>
      <p class="text-lg font-roboto italic pr-3"> Mobile App development using Frontent Libraries like React Js and Ionic </p>
      </div>
    </div>
    <div class="my-5 sm:h-auto">
      <p> We build mobile apps using Front-end libraries like React Native and Ionic. These apps are high performing with native
        functionalities liek GPS, Push notifications, geo-locations and else.</p>
      <p> The major advnatage of such mobile applications over Hybrid Apps is that we can have a single code base for both
        Anroid and iOS, and thus the time taken for development is consecutively less and thus the efforts and cost of development. </p>
      <p> t would be surprising to know that there are hardly any Hybrid apps present. Almost all the apps are made using React Native,
        to name a few, there is Facebook, Reddit, Netflix, Bloomberg, Discovery VR, and many more. </p>
      <p>
        Write everything in JavaScript: JavaScript is a simple language to inculcate and learn. It is easy to debug and test as
        well. And React Native is all about JavaScript; therefore, Developers find it easy to work with React Native. </p>
      <p>
        JavaScript makes the work fast and simple for developers. Its lightweight nature with no compilation needed along with
        procedural programming capabilities makes JavaScript the only preferred choice for developers
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 px-8 py-8">
    <div class="border-white lg:border-r-2 border-r-zinc-500/50 mx-6 flex items-center">
      <div>
        <p class="text-4xl font-bold font-sans italic text-zinc-700" id="seo_desc"> Search Engine Optimisation </p>
      <p class="text-lg font-roboto italic pr-3"> Enabling website, brands to promoto their brand online using SEO. </p>
      </div>
    </div>
    <div class="my-5 sm:h-auto">
      <p>
        While an SEO introduction is a great starting point, as your marketing efforts progress, you may want to consider
        securing additional SEO tools and services. Often times, search engines themselves will provide these tools and
        services, such as Google’s Google Analytics, Google Webmaster Tools, Google AdWords Keywords Tool, Google Alerts,
        Google Trends, DoubleClick Ad Planner, Google Page Speed, Google Site Map, and more.
      </p>
      <p> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries. </p>
      <p> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries. They deliver with excellence. Have worked with the team on several projects, and
        have
        always got best timely deliveries. </p>
      <p> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries. They deliver with excellence. Have worked with the team on several projects, and
        have
        always got best timely deliveries. </p>
      <p> They deliver with excellence. Have worked with the team on several projects, and have
        always got best timely deliveries. </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 px-8 py-8">
    <div class="border-white lg:border-r-2 border-r-zinc-500/50 mx-6 flex items-center">
      <div>
        <p class="text-4xl font-bold font-sans italic text-zinc-700" id="digital_marketing_desc"> Digital Marketing </p>
      <p class="text-lg font-roboto italic pr-3"> Promotion of brands and websites on various social Media Profile for promotion. </p>
      </div>
    </div>
    <div class="my-5 sm:h-auto">
      <p>
        We have several channels for online promotions on various social media platforms like Facebook, Instagram and serveral other platforms.
        We have dedicated team for the sole service of brand promtoions. We offer services like brand promotion, influencer promotion, product
        promotions.
      </p>
      <p>
        We also have several influencer working with us to build brands and promote theuir products and help them in online marketing. It occurs
        with the thoughtful collaboration in between the influencers and the brand so as to prvide the most effective and best marketing startegy.
        Our primary focus is the target audiance for each brand and content and thus accordingly we help the brand grow serving them to the perfect
        audiance.
      </p>
      <p>
        Dedicated graphic designer will be assigned to your brand to build your online content and advertisements.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 mt-5 pt-5 bg-cyan-800">
    <p class="text-3xl text-white font-extrabold text-center font-serif tracking-widest"
    id="partners"> Our Partners </p>
  </div>

  <div class="grid xs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 bg-cyan-800 px-8 py-8">
    <div class="grid justify-items-center">
      <img class="rounded-full" src="../assets/logos/logo-1.jpg" height="150" width="150"/>
    </div>
    <div class="grid justify-items-center">
      <img class="rounded-full" src="../assets/logos/logo-2.png" height="150" width="150"/>
    </div>
    <div class="grid justify-items-center xs:mt-5 sm:mt-0">
      <img class="rounded-full" src="../assets/logos/logo-3.png" height="150" width="150"/>
    </div>
    <div class="grid justify-items-center mt-5 lg:mt-0">
      <img class="rounded-full" src="../assets/logos/logo-4.jpg" height="150" width="150"/>
    </div>
    <div class="grid justify-items-center mt-5 lg:mt-0">
      <img class="rounded-full" src="../assets/logos/logo-2.png" height="150" width="150"/>
    </div>
  </div>

  <div class="grid grid-cols-1 px-5 py-5">
    <p class="text-2xl font-bold text-center font-serif tracking-widest" id="contact_us"> Contact Us </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 px-5">
    <div class="px-10">
      <div class="flex justify-center">
        <div ><img class="rounded-md mx-2" src="../assets/logos/fb-Logo-png.png" height="50" width="50"/></div>
        <div class="mx-2"><img  src="../assets/logos/Insta-logo-png.png" height="50" width="50"/></div>
        <div class="mx-2"><img  src="../assets/logos/linkedin-logo-png.png" height="50" width="50"/></div>
        <div class="mx-2"><img class="rounded-md break-inside-avoid-column" src="../assets/logos/twitter-logo-png.png" height="50" width="50"/></div>
      </div>
      <div class="mt-5 grid grid-cols-1  gap-4">
        <div >
          <p class="flex justify-center">You can check our social media presence on any of these platforms by
            clicking on the respective links. </p>
            <p class="flex justify-center">
              <span class="text-xl italic">Address</span>
            </p>
            <p class="break-after-column flex justify-center">Sample Street, </p>
            <p class="flex justify-center"> Building No - Z1, 8th floor, </p>
            <p class="flex justify-center"> City: Sample XYZ, </p>
            <p class="flex justify-center"> Country: Sample DEF, </p>
            <p class="flex justify-center"> PIN:"123XXX" </p>
        </div>
      </div>
    </div>
    <div class="grid  grid-cols-1 place-content-center">
      <form [formGroup]="contactForm">
        <p class="font-bold text-xl text-zinc-700">Email us your message!</p>
        <p class="py-1 text-zinc-700">Enter Your Name </p>
        <input
          class="border-b-1 rounded-md text-cyan-900"
          type="text"
          placeholder="Enter your name"
          formControlName="name">
        <p class="text-xs text-red-600"
        *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"> Name is required</p>

        <p class="py-1 text-zinc-700">Enter Your Email</p>
        <input
          class="border-b-1 rounded-md text-cyan-900"
          type="text"
          placeholder="Enter your email Address"
          formControlName="email">
        <p class="text-xs text-red-600"
          *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"> Please enter correct Email</p>

        <p class="py-1 text-zinc-700">Enter Your Message</p>
          <textarea
            class="rounded-md mt-1"
            placeholder="Enter your message"
            cols="50" rows="3"
            formControlName="message"></textarea>

            <p class="text-xs text-red-600"
            *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            Message should be atleast 3 characters.</p>
        <p>
          <button
            class="py-1 bg-cyan-800 rounded-md text-white px-8 my-5
            disabled:bg-slate-100 disabled:text-slate-600"
            type="button"
            (click)="submitData(contactForm.value)"
            [disabled]="contactForm.invalid"> Submit </button>
        </p>
      </form>
      <p class="text-md text-lime-600 mb-8" *ngIf="isSubmit">{{submitMessage}}</p>
      <p class="text-md text-rose-600 mb-8" *ngIf="submitFailed && !isSubmit">Contact Form Submit Failed. Please call or email us!</p>
    </div>
  </div>

</div>
